.c-image{
    width:130px;
}
.clg
{
    background-color: rgb(243, 239, 239);
    height:170px;
}
.imgn{
    width:25px;
    height: 25px;
}
.clgn
{
    background-color: rgb(243, 239, 239);
    height:470px;
}